@import url('./reset.css');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

body {
  font-family: 'Lato', sans-serif;
  padding: 50px 0;
  margin: auto;
  width: 80%;
}

h1 {
  font-weight: bold;
  font-size: 25px;
  margin: 10px 0;
}

#featured-movie {
  margin: auto;
  flex-direction: column;
  justify-content: center;
}

.featured-movie-container {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  column-gap: 10px;
  gap: 18px;
  align-items: center;
}

.movie-container {
  width: 18%;
  display: inline-block;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border-radius: 8px;
}

.movie-image {
  position: relative;
  width: 100%;
}

.movie-image img {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  width: 100%;
  height: 280px;
}

.movie-content {
  padding: 5px 10px;
}

.like-button-container {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 5px;
  background-color: aliceblue;
  border-radius: 100%;
  font-size: 16px;
}

.movie-content h3 {
  font-size: 14px;
  font-weight: 600;
  margin: 5px 0;
  padding-bottom: 20px;
}

.movie-content .description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  margin: 10px 0;
  font-size: 12px;
  font-weight: 400;
}

.movie-content .category {
  display: flex;
  padding-bottom: 10px;
  opacity: 40%;
  font-size: 12px;
  font-weight: bold;
}
